PORT=3002
NODE_ENV=development
URI_MONGODB=mongodb://localhost:27017/gestion-restaurantes

CLOUDINARY_CLOUD_NAME=[CLOUDINARY_CLOUD_NAME Ej: dzvyh0ywj]
CLOUDINARY_API_KEY=[CLOUDINARY_API_KEY Ej: 515133679529662]
CLOUDINARY_API_SECRET=[CLOUDINARY_API_SECRET EJ: it0B_ifPDMPUmoleDlexedptj2M]
CLOUDINARY_PLATILLOS_FOLDER=PASTO_KINALIANI/platillos
CLOUDINARY_SUCURSALES_FOLDER=PASTO_KINALIANI/sucursales